#audio-player-ui {
  position: absolute;
  width: 100%;
  padding: 35px 15px 15px;
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.audio-controls {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.control {
  border-radius: 50%;
}

.control_big {
  width: 70px;
  height: 70px;
  background: var(--gradient_angle);
  box-shadow: 0px 2px 5px 2px #000;
}

.control_small {
  width: 50px;
  height: 50px;
}

.control_small.forward {
  box-shadow: -1px 2px 5px 2px #000;
}

.control_small.backward {
  box-shadow: 1px 2px 5px 2px #000;
}

.audio_seeker {
  background: var(--clr-grey);
  border-radius: 5px;
  height: 10px;
  position: relative;
}

.audio_seeker .filled {
  height: 10px;
  width: 168px;
  background: var(--gradient_straight);
  border-radius: 5px 0 0 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.audio_seeker .filled::after {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px var(--clr-accent_light), 0px 0px 4px 6px var(--clr-accent_light-faded);
  width: 8px;
  height: 8px;
  top: 1px;
  right: -8px;
}