#audio-player-ui {
  position: absolute;
  width: 100%;
  padding: 35px 15px 15px;
  bottom: 10px;
}

#audio-player-ui .rhap_container {
  padding: 0;
  background: none;
  box-shadow: none;
}

#audio-player-ui .rhap_main {
  gap: 40px;
}

#audio-player-ui .rhap_time {
  display: none;
}

#audio-player-ui .rhap_progress-container {
  height: 10px;
  margin: 0;
}

#audio-player-ui .rhap_progress-bar {
  height: 10px;
  border-radius: 5px;
  background: var(--clr-grey);
}

#audio-player-ui .rhap_progress-filled {
  border-radius: 5px 0 0 5px;
  background: var(--gradient_straight);
}

#audio-player-ui .rhap_progress-indicator {
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 0;
  top: 1px;
  box-shadow: 0px 0px 0px 5px var(--clr-accent_light), 0px 0px 4px 6px var(--clr-accent_light-faded);
}

#audio-player-ui .rhap_stacked .rhap_controls-section {
  margin: 0;
  justify-content: center;
}

#audio-player-ui .rhap_additional-controls,
#audio-player-ui .rhap_volume-controls {
  display: none;
}

#audio-player-ui .rhap_main-controls {
  gap: 30px;
}

#audio-player-ui .rhap_main-controls-button {
  margin: 0;
  width: 50px;
  height: 50px;
  overflow: visible;
}

#audio-player-ui .rhap_main-controls-button svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#audio-player-ui .rhap_rewind-button svg {
  box-shadow: 1px 2px 5px 2px #000;
}

#audio-player-ui .rhap_forward-button svg {
  box-shadow: -1px 2px 5px 2px #000;
}

#audio-player-ui .rhap_main-controls-button.rhap_play-pause-button {
  width: 70px;
  height: 70px;
}

#audio-player-ui .rhap_main-controls-button.rhap_play-pause-button svg {
  background: var(--gradient_angle);
  box-shadow: 0px 2px 5px 2px #000;
}