*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:active,
button:hover {
  outline: none;
}

:root {
  --clr-background: #17110D;
  --clr-text: #fff;
  --clr-accent: #00B3FF;
  --clr-accent_light: #0DF;
  --clr-accent_light-faded: #0AC;
  --clr-accent_dark: #008CFF;
  --clr-grey: #787878;
  --clr-overlay: #293033;
  --gradient_angle: linear-gradient(224deg, var(--clr-accent_light) 9.67%, var(--clr-accent_dark) 87.26%);
  --gradient_straight: linear-gradient(-80deg, var(--clr-accent_light) 0%, var(--clr-accent_dark) 90%);

  font-size: 16px;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--clr-background);
  color: var(--clr-text);
}

li {
  margin-bottom: 1rem;
}

p {
  font-weight: bold;
  line-height: 1.5rem;
  font-size: 1rem;
}